.profilepage{
    margin: 30px 250px 0px 350px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: center;
    box-sizing: border-box;
}

div.primary, div.channels{
    border-bottom: 1px solid gray;
}

.topdiv{
    margin: 40px 0px 12px;
    display: inline-block;
}

img.pic{
    border-radius: 50%;
}

.image{
     float: right;
     margin-bottom: 10px;
}

a{
    text-decoration: none;
    color: #3DA6FF;
}

ul{
    margin: 30px 10px;

}

li{ 
    border-radius: 15px;
    padding: 20px 10px;
}

li:active{
    background-color: gray;
}
li:hover{
    background-color: rgba(128, 128, 128, 0.3);
}

.sidebarul{
   
    list-style-type: none;
    position: fixed;
    left: 0;
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 5px;
    width: 250px;
    flex-direction: column;
    top: 56px;
    height: 100vh;
    z-index: 5;
    padding-top: 30px;
}



.left {
    display: flex;
    align-items: center;
    gap: 16px;
}

#menu {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 8px;
    border-radius: 25%;
    transition: background-color 0.2s;
}

#menu:hover {
    background-color: #757575a9;
}


.header-center {
    flex: 1;
    max-width: 640px;
    margin: 0 40px;
}

.searchspan {
    display: flex;
    height: 40px;
}

.searchspan input {
    flex: 1;
    border: 1px solid #ccc;
    border-right: none;
    padding: 0 12px;
    font-size: 16px;
    outline: none;
}

.searchspan input:focus {
    border-color: #1c62b9;
}

.searchbutton {
    width: 64px;
    border: 1px solid #ccc;
    border-radius: 0px 15px 15px 0px;
    cursor: pointer;
    transition: background-color 0.2s;
}


.right {
    display: flex;
    align-items: center;
    gap: 8px;
}

